DATABASE_URL=postgresql://postgres:password@host.docker.internal:5432/ids_attendance
PORT=3000
ACCESS_TOKEN_SECRET=ShouldBeSuperSecret
REFRESH_TOKEN_SECRET=ShouldBeEvenSuperSecret
SUPER_ADMIN_PASS=SecurePass!1!
ADMIN_STARTER_PASS=SecurePass!1!
MANAGER_STARTER_PASS=SecurePass!1!
EMP_STARTER_PASS=SecurePass!1!
SUPER_ADMIN_PIN=1234
ADMIN_PIN=1234
NODE_ENV=production
ALLOWED_ORIGIN=https://unspiritualizing-tricarpellary-reiko.ngrok-free.dev
SMTP_HOST=smtp.zoho.com
SMTP_PORT=587
SMTP_USER=your-email@yourdomain.com
SMTP_PASS=your-app-password
